*{
    margin: 0px;
    padding: 0px;
    color: #000;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.conteiner{
    width: 100%;
    height: 100;
    background-color: #EE5354;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

#logo{
    display: flex;
    align-items: center;
    margin-left: 10%;
    color: #fff;
    

}
#local{
    display: flex;
    align-items: center;
    margin-right: 10%;
    color: #fff;
}


#logo > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#logo > a:hover{
    cursor: pointer;
    color: #00ffc3;
    
}

#local > a{
    text-decoration: none;
    color: #fff;
   
}

#local > a:hover{
    cursor: pointer;
    stroke: 5px;
    color: #00ffc3;
}

.icones:hover{
    filter: grayscale(60%);
    
}

.titulo{
       text-align: center;
       font-size: 20px;
}

.titulo img{
    width: 35px;
    padding: 35px;
}


.titulo img{
    padding: 5px;
}

.circle{
    width:  200px;
    height: 200px;
    margin: 70px;
    border-radius: 50%;
    background-color: red;
}

.membros{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipe{
    display: flex;
    justify-content: center;
}

.equipe p{
    margin-top: -35px;
}

.redes{
   margin: 10px;
   padding: 5px;
   letter-spacing: 5px;
   
}

.container{
    display: flex;
    justify-content: space-around;
    background-color: #EE5354;
    width: 100%;
    height: 550px;
}

.img {
    
       display: flex;
       align-items: ;
}

.img > img{
    display: flex;
    align-items: center;
    width: 350px;
    border-radius: 45px ;
    border: 3px solid #000;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-sizing: border-box;
}

.conteudo{
    text-align: left;
    padding: 5pc;
    margin-right: 5px;
    font-size: 25px;
}

#line{
    display: flex;
    width: 390px;
    height: 5px;
    background-color: #000;
    margin-bottom: 5px

}



.conteudo > h2{
    font-size: 65px;
}

h2{
    color: #000;
}


.container-sede{
    display: flex;
    justify-content: space-around;
    width: 780px;
    height: 380px;
    background-color: #551111;
    margin: auto;
    border-radius: 107.568px;
    margin-top: 65px;
}

.nossa-sede{
    background-color:#551111;
    width: 400px;
    height: 380px;
    border-radius: 72.568px;
}

.map{
    width: 400px;
    height: 380px;
    border-radius: 72.568px;

}
.map > iframe{
    border-radius: 25.568px;
}


.line-02{
    margin: auto;
    box-sizing: border-box;
    width: 340px;
    border: 4.6973px solid #FFFFFF;
    height: 280px;
    margin-top: 55px;
}




.line-02 h2{
    text-align: center;
    font-size: 30px;
}

.line-02 p{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.img-link img{
    width: 250px;
    display: flex;
    margin: auto;
    margin-top: 5px;
}

#linha-sede{
    margin: auto;
    width: 155px;
    height: 5px;
    background-color: #EE5354;
}


#line-03{
    background-color: #00ffc3;
    width: 100px;
    height: 200px;

}

#Slider{
    margin: auto;
    width: 100%;
    height: 300px;
    border: 1px solid #000;
}

#arrows{
    display: flex;
    justify-content: space-between;
    line-height: 50%;
    align-items: center;

